/* flex Box */

.flex{
    display: flex;
}

.flexRow{
    display: flex;
    flex-wrap: wrap;
}

.flexItemCenter{
    align-items: center;
}

.flexContentCenter{
    justify-content: center;
}

.flexContentEnd{
    justify-content: flex-end;
}

.flexSpace{
    justify-content: space-between;
}

.flexAround{
    justify-content: space-around;
}

.flexColumn{
    flex-direction: column;
}

.flex20{
    flex-basis: 20%;
}

.flex30{
    flex-basis: 30%;
}

.flex40{
    flex-basis: 40%;
}

.flex50{
    flex-basis: 50%;
}

.flex60{
    flex-basis: 60%;
}

.flex70{
    flex-basis: 70%;
}

.flex80{
    flex-basis: 80%;
}

.flex90{
    flex-basis: 90%;
}

/* Flex Box */

.infoCart{
    border-left: 1px solid #DDD;
}

.table th, .table td {
    padding: 15px;
    vertical-align: middle !important;
    border: 1px solid #d8dbe0;
    border-top-color: #d8dbe0;
    text-align: center;
}

.form-select {
    padding: 6px;
    font-size: 15px;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.btnUpload{
    background-color: transparent;
    border: 1px solid #DDD;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-size: 20px;
}

.imageItem{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 300px;
}

.btnWrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}

.imgView{
    width: 100%;
    height: 300px;
}

.itemCircle{
    width: 150px;
    height: 150px;
}

.logoTab{
    width: 50px;
    height: 50px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f9f9f9;
    opacity: 1;
}

.loader{
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #FFF;
    z-index: 9999;
}

.noData{
    min-height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.chick{
    position: absolute;
    top: -8px;
    right: -8px;
    border: 1px solid #DDD;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-radius: 3px;
}

.cardBlock{
    min-height: 150px;
}

svg{
    position: relative;
    top: -2px;
}

/* Style Toaster */

.toastFun{
    position: fixed;
    top: 10px;
    right: 10px;
    transition: 0.5s;
    z-index: 999999;
    color: #fff;
    background-color: #f00;
    border-color: #f00;
    padding: 15px 30px;
    border-radius: 5px;
    -webkit-animation: fadeinout 3s linear forwards;
    animation: fadeinout 3s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fadeinout {
    50% { opacity: 1; }
}

@keyframes fadeinout {
    50% { opacity: 1; }
}

/* Media Screen */

@media screen and (max-width: 990px){

    .flex20, .flex30, .flex40, .flex50, .flex60, .flex70, .flex80, .flex90{
        flex-basis: 100%;
    }

    .flex{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

